html, body {
  height: 100%;
  width: 100%;
  font-family: "arial";
}

.nav-link {
  font-size: 13px;
  letter-spacing: 1.5px;
}

.jumbotron {
  background-image: url(assets/main-bg.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.jumbotron h1 {
  padding-top: 13rem;
}

.scroll {
  padding-top: 11rem;
}

#game-info {
  background-image: url(assets/the-games-bg.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.properti{
  padding-top: 9.5rem;
  padding-left: 5rem;
}

.special{
  float: left
}

.properti-1{
  float: right;
  padding-right: 10rem;
}

.fitur {
  background-image: url(assets/features.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.fitur-content{
    padding-top: 8rem;
    padding-right: 16rem
}
